{% load static %}
<footer class="footer">
        <div class="footer-container">
            <!-- Email Address -->
            <div class="footer-email">
                <span>creator mail ID : <a href="mailto:aadhithanvelu15@gmail.com">aadhithanvelu15@gmail.com</a></span>
            </div>
            
            <!-- Social Icons -->
            <div class="social-icons">
                <a href="https://www.facebook.com/aadhithan.velu" class="footer-icon">
                    <img src="{% static 'img/fb_logo.png' %}" alt="Facebook" class="social-logo">
                </a>
                <a href="https://www.instagram.com/drakco_15_" class="footer-icon">
                    <img src="{% static 'img/insta_logo.png' %}" alt="Instagram" class="social-logo">
                </a>
                <a href="https://www.linkedin.com/in/aadhithan/" class="footer-icon">
                    <img src="{% static 'img/linkedin_logo.png' %}" alt="LinkedIn" class="social-logo">
                </a>
            </div>
        </div>
</footer>